table {
  background-color:#dce9f53d;
  border:none;
  border-radius:10px;
  padding:10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

p.question {
font-size:15px;
color:blue;
margin-bottom:0px;

}
h2.quizHead {
  
  font-family:Arial, Helvetica, sans-serif;
  font-size:25px;
  line-height: 27px;
  margin: 24px 0 12px 0;
  padding: 0 0 4px 0;
  border-bottom: 1px solid #a2a2a2;
}

body
{
    margin: 0;
    padding: 0;
    font-family:"Montserrat";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

label {
  font-family: Arial, sans-serif;
  font-size:14px;
  color: #424242;
  vertical-align:top;
   
}
input.answer[type="radio"] {
	margin:2px;
}
section img{
  display: block;
  margin-right: auto;
  width:20%;
  margin-bottom:40px;
}


/*secxtion*/


.main-description-q
{
    text-align: center;
    padding-top: 43vh;
    color: white;
    transition: 1s;
}
.main-sticky-q
{
    text-align: center;
    padding-top: 50vh;
    color: white;
    transition: 1s;
}

section.q-title
{
    width: 100%;
    height: 100vh;
    background-image: url("../img/img_bg/bgimagecw2.png");
    background-size: cover;
}
.sec-container
{
  padding: 50px;
  display: flex;
  flex-direction: row;
  margin: auto;
}
.container
{
  padding-top: 100px;
}
form
{
  width: 900px;
  display: flex;
  flex-direction: row;
  margin: auto;
}
.image
{
  width: 900px;
}