html,body
{
    margin: 0%;
    padding: 0%;
    font-family:"Montserrat";
}
.header
{
    width: 100%;
    position:absolute;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:right;
    font-size: 30px;
}
/*.header
{
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 40px;
    text-align: right;
    font-size: 30px;
}*/
.logo
{
    float: left;
}
.title
{
    float:left;
    padding-top: 15px;
    font-size: larger;
    font-weight: bold;
    padding-left: 20px;
    
}
.nav
{
    padding-top: 15px;
}
.nav a:link
{
    color:white;
    text-decoration: none;
    font-size:large;
    font-weight: bold;
}
.nav a:visited
{
    color:white;
}
.nav a:hover
{
    color: deepskyblue;
}
.footer
{
    padding: 0%;
    position: sticky;
    bottom: 0;
    width: 100%;
    color: white;
}
.f-container
{
    padding: 0%;
    position: absolute;
    width: 100%;
    background-color:#313131;
}
.f-logo
{
    padding-left: 50px;
    padding-top: 50px;
    float: left;
}
.f-description
{
    float: left;
    padding-left: 50px;
}
.f-contact
{
    float: left;
    padding-left: 50px;
}
.f-contact a:link
{
    color:gold;
    text-decoration: none;
}
.f-contact a:visited
{
    color:gold;
}
.f-contact a
{
    padding-left: 10px;
}

.b-img-container
{
    width: 100%;
    text-align: center;
    position: relative;
}
.img-details
{
    width: 100%;
    text-align: center;
    position:absolute;
    top: 40%;
    bottom:50%;
    color: white;
}
.b-h1
{
    font-size: 120px;
    font-weight:bold;
    text-align: center;
}
.b-description
{
    font-size: larger;
}
.main-img
{
    width: 100%;
}