html,body
{
    margin: 0%;
    padding: 0%;
    font-family:"Montserrat";
}
footer
{
    position: fixed;
}
.header
{
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 40px;
    background-color:antiquewhite;
    text-align: right;
    font-size: 30px;
}
.logo
{
    float: left;
}
.title
{
    padding-left: 20px;
    float: left;
}
.nav
{
    padding-top: 35px;
}
.nav a:link
{
    color: black;
    text-decoration: none;
    font-size:large;
    font-weight: bold;
}
.nav a:visited
{
    color: black;
}
.footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:midnightblue;
    color: white;
}
.f-logo
{
    padding-left: 50px;
    padding-top: 50px;
    float: left;
}
.f-description
{
    float: left;
    padding-left: 50px;
}
.f-contact
{
    float: left;
    padding-left: 50px;
}
.f-contact a:link
{
    color:gold;
    text-decoration: none;
}
.f-contact a:visited
{
    color:gold;
}
.f-contact a
{
    padding-left: 10px;
}
.b-h1
{
    text-align: center;
    color: darkblue;
}