html,body
{
    margin: 0%;
    padding: 0%;
}
span
{
    color: yellow;
    font-size: large;
    padding-right: 20px;
}
footer
{
    position: fixed;
}
.header
{
    margin-left: 0px;
    margin-right: 0px;
    padding: 2%;
    background-color: cornflowerblue;
    text-align: center;
    font-size: 30px;
}
